AzureFilesDeletion/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AzureFilesDeletion"
		},
		"filestorageeastus1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'filestorageeastus1'"
		},
		"filestorageeastus2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'filestorageeastus2'"
		},
		"filestorageeastus11_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'filestorageeastus11'"
		},
		"lfilestorageeastus22_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lfilestorageeastus22'"
		},
		"filestorageeastus1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\filestorageeastus1.file.core.windows.net\\original\\"
		},
		"filestorageeastus1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "filestorageeastus1"
		},
		"filestorageeastus2_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\filestorageeastus2.file.core.windows.net\\archiveoriginal"
		},
		"filestorageeastus2_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "filestorageeastus2"
		},
		"filestorageeastus11_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\filestorageeastus1.file.core.windows.net\\original"
		},
		"filestorageeastus11_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "filestorageeastus1"
		},
		"lfilestorageeastus22_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\filestorageeastus2.file.core.windows.net\\archiveoriginal"
		},
		"lfilestorageeastus22_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "filestorageeastus2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/filestorageeastus1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "\\\\filestorageeastus1.file.core.windows.net\\original",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('filestorageeastus1_properties_typeProperties_host')]",
					"userId": "[parameters('filestorageeastus1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('filestorageeastus1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/filestorageeastus2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('filestorageeastus2_properties_typeProperties_host')]",
					"userId": "[parameters('filestorageeastus2_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('filestorageeastus2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schedule-every2minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "runs every 2 minutes",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 2,
						"startTime": "2022-02-15T21:36:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/filestorageeastus11')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "filestorageeastus1",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('filestorageeastus11_properties_typeProperties_host')]",
					"userId": "[parameters('filestorageeastus11_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('filestorageeastus11_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lfilestorageeastus22')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "filestorageeastus2",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('lfilestorageeastus22_properties_typeProperties_host')]",
					"userId": "[parameters('lfilestorageeastus22_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lfilestorageeastus22_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataSource_Folder1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the folder in the data source store.",
				"linkedServiceName": {
					"referenceName": "filestorageeastus11",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@concat(dataset().FolderPath,'/',dataset().Directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/filestorageeastus11')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataSource_File1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the file in the data source store.",
				"linkedServiceName": {
					"referenceName": "filestorageeastus11",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().FolderPath,'/',dataset().Directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/filestorageeastus11')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataDestination1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "It describes the destination store.",
				"linkedServiceName": {
					"referenceName": "lfilestorageeastus22",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@concat(dataset().FolderPath,'/',dataset().Directory)",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lfilestorageeastus22')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoveFiles-2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BinaryDataSource_Folder1",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "@pipeline().parameters.SourceStore_Location",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SourceStore_Directory",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "CopyAFile",
									"description": "Copy a file from the source store to the destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true
											},
											"recursive": false
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "FileServerWriteSettings"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "BinaryDataSource_File1",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.SourceStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.SourceStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BinaryDataDestination1",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.DestinationStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.DestinationStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "DeleteAFile",
									"description": "Delete a file from the source store",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "CopyAFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "BinaryDataSource_File1",
											"type": "DatasetReference",
											"parameters": {
												"FolderPath": {
													"value": "@pipeline().parameters.SourceStore_Location",
													"type": "Expression"
												},
												"Directory": {
													"value": "@pipeline().parameters.SourceStore_Directory",
													"type": "Expression"
												},
												"filename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "FileServerReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "FilterFiles",
						"description": "Only files will be selected, the source-folders will not be selected.",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceStore_Location": {
						"type": "String",
						"defaultValue": "\\\\filestorageeastus1.file.core.windows.net\\original"
					},
					"SourceStore_Directory": {
						"type": "String",
						"defaultValue": "\\\\filestorageeastus1.file.core.windows.net\\original"
					},
					"DestinationStore_Location": {
						"type": "String",
						"defaultValue": "\\\\filestorageeastus2.file.core.windows.net\\archiveoriginal"
					},
					"DestinationStore_Directory": {
						"type": "String",
						"defaultValue": "\\\\filestorageeastus2.file.core.windows.net\\archiveoriginal"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BinaryDataSource_Folder1')]",
				"[concat(variables('factoryId'), '/datasets/BinaryDataSource_File1')]",
				"[concat(variables('factoryId'), '/datasets/BinaryDataDestination1')]"
			]
		}
	]
}